.lanCont{
  position: fixed;
  width: auto;
  height: auto;
  top: 10px;
  right: 20px;
}
.ulCont>button{
  font-family: Trajan;
  background: linear-gradient(230deg, rgb(185, 185, 185), #bfbfbf 85%);
  border-width: 1px;
  border-radius: 15%;
  font-size: 15px;
}
.ulCont>button:hover{
  cursor: pointer;
  background: linear-gradient(230deg, rgb(27, 27, 27), #000000 85%);
  color: white;
}