@font-face {
  font-family: Trajan;
  src: url(../../../fonts/TrajanusBricks.ttf);
}

.landingCont{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(230deg, #282828fd, #0c0c0c 85%);
}
.webBg{
  background-image: url(../../../images/web-bg-landing.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: .5;
  animation-name: animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
.enterBtn{
  background: linear-gradient(230deg, rgb(185, 185, 185), #919191 85%);
  width: 30%;
  left: 35%;
  bottom: 30%;
  height: auto;
  position: relative;
  top: 10px;
  border-radius: 43%;
  transition-duration: .5s;
  color: #000000;
  font-weight: thin; 
  font-family: Trajan;
  padding: 5px;
  margin-left: -7.5px;
}

.enterBtn:hover{
  cursor: pointer;
  background: linear-gradient(230deg, rgb(27, 27, 27), #000000 85%);
  color: white;
  scale: 1.1;
  animation-name: resplandor;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);

}
.img{
  width: 200px;
  border-radius: 100%;
  margin-top: 100px;
}

.contSL{
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  .enterBtn{
    font-size: 12px;
  }
}

@keyframes animation {
  from {
    opacity: .2;
    scale: 1.1
  }
  to {
    opacity: 0;
    scale: 1
  }
}

@keyframes resplandor {
  0% {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
  50% {
    box-shadow: 0px 0px 200px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}