body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:link, :visited{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.774);
}
:link:hover{
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  position: absolute;
}
::-webkit-scrollbar-track {
  background: linear-gradient(168deg, rgb(72, 72, 72) 20% , #171717 120%);
}
::-webkit-scrollbar-thumb {
  background: #fff2;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff4;
}
