@font-face {
    font-family: Trajan;
    src: url(../../../fonts/TrajanusBricks.ttf);
}

.contLandingPage{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(230deg, #ccccccfd, #ededed 85%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
}

.divH2{
    background: linear-gradient(230deg, rgb(230, 230, 230), #919191 85%);
    width: 80%;
    left: 10%;
    height: auto;
    position: relative;
    top: 10px;
    border-radius: 43%;
    transition-duration: .5s;
    color: #000000;
    font-weight: thin; 
    font-family: Open Sans; 
}
.divH2>h2{
    font-size: 11px;
    padding: 4px;
}
.divH2:hover{
    cursor: pointer;
    background: linear-gradient(230deg, rgb(27, 27, 27), #000000 85%);
    color: white;
    box-shadow: 0px 0px 10px yellow;
}

.bgCanvas{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.profileLalo{
    background: linear-gradient(to left, #000000, #0e0e0e 99%);
    width: 30vw;
    min-width: 300px;
    height: 100vh;
    box-shadow: 0px 0px 100px #434343;
    font-family: Trajan;
    z-index: 999;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-30vw);
    transition-duration: 1s;

}

.imgProfile{
    border-radius: 100%;
    margin-top: 100px;
    border-color: rgba(255, 255, 255, 0.735);
    box-shadow: 0px 0px 10px white;
    filter: grayscale(.4);
    transition-duration: .5s;
    cursor: pointer;
}

.imgProfile:hover{
    filter: grayscale(0);
    box-shadow: 0px 0px 15px yellow;
}

.alias{
    animation-name: resplandorAlias;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

.name{
    animation-name: resplandorName;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes resplandorName {
    from {filter: drop-shadow(0px 0px 1px rgb(255, 255, 174));}
    to {filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0));}
}
@keyframes resplandorAlias {
    from {filter: drop-shadow(0px 0px 2px rgba(255, 255, 0, 0.768));}
    to {filter: drop-shadow(0px 0px 3px rgb(251, 251, 251));}
}